
<div class="container-fluid" id="contprincipal">
    <div class="row" id="barra titulo">
        <h1>TITULO</h1>
    </div>

    <div class="row" id="barraNav">
        <nav class="navbar navbar-expand-lg bg-light">
            <a class="navbar-brand" href="#">Inicio</a>
            <a class="navbar-brand" href="#">Quienes somos</a>
            <a class="navbar-brand" routerLink="empleados">Empleados</a>
            <a class="navbar-brand" routerLink="contacto">Contacto</a>
        </nav>
    </div>
</div>